<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>506975803166-atdd87m59mtpfpsns3ion06ql474q9ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506975803166-atdd87m59mtpfpsns3ion06ql474q9ci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>506975803166-0oaarf6fj1skujhv81ma2g3keamspbmq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTXBd3MVdfd6_VaZCDoISCGcSVFZVCWAE</string>
	<key>GCM_SENDER_ID</key>
	<string>506975803166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.flutterSample.app</string>
	<key>PROJECT_ID</key>
	<string>push-notification-e17b5</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notification-e17b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506975803166:ios:30224b1aaa906765ca9b0f</string>
</dict>
</plist>